:root {
    --gray-800: #595959;
    --gray-300: #D1D5DB;
    --border: #E5E7EB;
}

.mdx {
    width: 100%;
    max-width: max-content;
    color: var(--gray-800);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.75;
}

.mdx p img {
    max-width: 600px;
    text-align: center;
}

.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4 {
    font-weight: 600;
    color: var(--gray-800);
}

.mdx h1 {
    font-size: 2.5rem;
}

.mdx h2 {
    font-size: 2rem;
}

.mdx h3 {
    font-size: 1.5rem;
}

.mdx > :first-child {
    margin-top: 0;
}

.mdx > * {
    margin-bottom: 2rem;
}

.mdx b,
.mdx strong {
    font-weight: 550;
}

.mdx .expressive-code {
    position: relative;
    z-index: -10;
}


.mdx > :has(+ :where(ul, ol)) {
    margin-bottom: 0.5rem;
}

.mdx ul {
    padding-left: 16px;
    list-style-position: outside;
    list-style-type: disc;
}

.mdx li > ul {
    list-style-type: circle;
}

.mdx li {
    display: list-item;
    line-height: 2rem;
}

.mdx li::marker {
    color: var(--gray-300);
}

.mdx li + li,
.mdx li > ul {
    margin-top: 8px;
}

.mdx li > div,
.mdx li > p {
    margin-bottom: 1rem;
}

.mdx ol {
    --counter-space: 12px;
    padding: 0;
    counter-reset: basics-ol;
    list-style-type: none;
}

.mdx ol li {
    --l: calc(2 * var(--counter-space));
    padding-left: var(--l);
    text-indent: calc(-1 * var(--l));
}

.mdx ol li:before {
    display: inline-flex;
    min-width: var(--counter-space);
    align-items: center;
    justify-content: flex-end;
    margin-right: var(--counter-space);
    color: var(--gray-300);
    content: counter(basics-ol) '. ';
    counter-increment: basics-ol;
    font-feature-settings: 'tnum' 1;
    letter-spacing: -0.05em;
    line-height: normal;
    text-align: right;
    user-select: none;
}

.mdx hr {
    height: 1px;
    border: none;
    background-color: var(--border);
}

.mdx table {
    empty-cells: hide;
    font-size: 0.875rem
}

.mdx th {
    @apply px-4 pb-1 text-left font-semibold [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx td {
    @apply border-l px-4 py-2 text-left align-text-top [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx td:first-child {
    word-break: keep-all;
}

.mdx td:last-child {
    border-right: 1px solid;
}

.mdx img {
    display: flex;
    overflow: hidden;
    border-radius: 6px;
}

.mdx img + em,
.mdx img + em p {
    display: inline-block;
    margin-top: 8px;
    color: var(--gray-300);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.mdx code:not(pre code) {
    padding: 0;
    border-radius: 6px;
    color: var(--gray-800);
    font-size: 14px;
    font-weight: 700;
}

.mdx code:not(pre code, [data-rehype-pretty-code-fragment] code)::before {
    content: '`';
}

.mdx code:not(pre code, [data-rehype-pretty-code-fragment] code)::after {
    content: '`';
}

.mdx pre {
    display: grid;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: var(--gray-300);
    color: var(--gray-800);
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
