---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
---

<BaseLayout>
  <MainLayout>
    <ContentLayout>
      <h1>SERIES</h1>
    </ContentLayout>
  </MainLayout>
</BaseLayout>
