---
import {getCollection, type CollectionEntry} from "astro:content";
import {processPosts, slugify} from "../../utils";

import PostList from "../../components/PostList";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";

export const getStaticPaths = async (): Promise<any[]> => {
    const allPosts: CollectionEntry<'blog'>[] = await getCollection("blog");
    const processedPosts: CollectionEntry<"blog">[] = processPosts(allPosts);
    const uniqueTags = [...new Set(processedPosts.flatMap(post => post.data.tags))];

    return uniqueTags.map(tag => {
        const postsWithTag = processedPosts.filter(post => post.data.tags.includes(tag));
        const taggedPosts = processPosts(postsWithTag);

        return {
            params: {
                slug: slugify(tag),
            },
            props: {
                tag,
                taggedPosts,
            },
        };
    });
};

const {tag, taggedPosts} = Astro.props;

---
<BaseLayout>
    <MainLayout>
        <ContentLayout>
            <div class="space-y-4">
                <h1 class="text-2xl font-semibold">
                    <span class="text-purple-600"> {taggedPosts.length} </span>
                    Posts about
                    <span class="text-purple-600"> {tag} </span>
                    tags!
                </h1>
                <PostList posts={taggedPosts}/>
            </div>
        </ContentLayout>
    </MainLayout>
</BaseLayout>
