---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SidebarLayout from "../layouts/SidebarLayout.astro";
---

<BaseLayout>
    <SidebarLayout />
    <MainLayout>
        <div class="grid grid-cols-1 xl:grid-cols-4 gap-8 h-auto max-w-screen-xl mx-auto">
            <article class="col-span-3 p-[4rem]">
                <h1 class="text-2xl font-semibold">
                    아직 개발중인 기능입니다! 404!
                </h1>
            </article>
            <div class="hidden xl:block col-span-1 w-[16rem] py-8 "></div>
        </div>
    </MainLayout>
</BaseLayout>
