---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<BaseLayout>
    <MainLayout>
        <div class="flex justify-around">
            <article class="mx-auto md:w-[48rem] p-[4rem] space-y-4">
                <h1>ABOUT</h1>
            </article>
        </div>
    </MainLayout>
</BaseLayout>
