---
import { getEntries, type CollectionEntry } from "astro:content";

const { seriesData } = Astro.props;
const seriesPosts = await getEntries(seriesData.posts);

interface Props {
  seriesData: CollectionEntry<"series">["data"];
}
---

<ol>
  {
    seriesPosts.map(seriesPost => (
      <li>
        <a href={"/blog/" + seriesPost.data.title}>{seriesPost.data.title}</a>
      </li>
    ))
  }
</ol>
