---
import "../../../styles/mdx.css";
import { slugify } from "../../../utils";
import MainLayout from "../../../layouts/MainLayout.astro";
import FloatingBar from "../../../components/article/FloatingBar";
import ArticleHeader from "../../../components/article/ArticleHeader";
import ArticleFooter from "../../../components/article/ArticleFooter";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
  const sortedPosts = allPosts.sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
      b.data.date.valueOf() - a.data.date.valueOf()
  );

  return sortedPosts.map((post, index, posts) => ({
    params: {
      slug: slugify(post.slug),
    },
    props: {
      currentPost: post,
      prevPost: posts[index + 1],
      nextPost: posts[index - 1],
    },
  }));
}
const { currentPost, prevPost, nextPost } = Astro.props;
const { Content, headings } = await currentPost.render();
---

<MainLayout>
  <div class="max-w-screen-xl mx-auto">
    <article
      class="mx-auto p-[4rem] md:w-[48rem] xl:ml-[19.5rem] xl:mr-[19.5rem]"
    >
      <ArticleHeader article={currentPost} />
      <div class="mdx">
        <Content />
      </div>
      <ArticleFooter prevPost={prevPost} nextPost={nextPost} />
    </article>
    <FloatingBar headings={headings} client:load />
  </div>
</MainLayout>
