---
import Footer from "../components/Footer";
import Header from "../components/Header";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const { title = "junpak" } = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
      <meta property="og:type" content="article" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {SITE_TITLE}</title>
  </head>
  <body >
    <Header client:load />
      <slot />
    <Footer />
  </body>
</html>
