---
import Footer from "../components/Footer";
import Header from "../components/Header";

---

<main class="md:ml-[260px] 2xl:ml-[350px] h-auto">
    <Header client:load/>
        <slot/>
    <Footer/>
</main>
