---
import {slugify} from "../utils";
---

<div class="fixed inset-0 top-[1rem] py-[10rem] bottom-0 left-[max(0px,calc(50%-40rem))] right-auto w-[19rem]  pl-8 pr-6 overflow-y-auto hidden lg:block">
    <div class="relative max-w-xs mx-auto">
        <div
                class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out">

            <div class="p-6">
                <!--<a href={`/${slugify(article.data.category)}/posts/${slugify(article.slug)}`}>-->
                <a>
                    <h2 class="text-xl font-semibold mb-2">대분류</h2>
                    <p class="mt-1">소분류</p>
                </a>
            </div>
        </div>
    </div>
</div>
