---
import {getCollection, type CollectionEntry} from "astro:content";
import {processPosts} from "../../utils";

import PostList from "../../components/PostList";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import SidebarLayout from "../../layouts/SidebarLayout.astro";

const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
const processedPosts: CollectionEntry<"blog">[] = processPosts(allPosts);
---
<BaseLayout>
    <SidebarLayout/>
    <MainLayout>
        <div
                class="grid grid-cols-1 xl:grid-cols-4 gap-8 h-auto max-w-screen-xl mx-auto"
                style="min-height: calc(100vh - 136px)">
            <article class="col-span-3 p-[4rem]">
                <h1 class="text-2xl font-semibold">
                    전체 글 <span class="text-xl text-purple-600"> ({processedPosts.length}) </span>
                </h1>
                <PostList posts={processedPosts}/>
            </article>
            <div class="hidden xl:block col-span-1 w-[16rem] py-8 "></div>
        </div>
    </MainLayout>
</BaseLayout>
